<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BattleshipNeuralNet.NetSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BattleshipNeuralNet.NetSettings>
            <setting name="LogCSVPath" serializeAs="String">
                <value>\\usgtd-4pshxp3\c$\Users\carlril\Documents\Battleship\results.csv</value>
            </setting>
            <setting name="NetworkSavePath" serializeAs="String">
                <value>\\usgtd-4pshxp3\c$\Users\carlril\Documents\Battleship\networks.dat</value>
            </setting>
            <setting name="TargetPoolSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="NetworkAttempts" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MutationRate" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="MutationEpsilon" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="SurvivalRate" serializeAs="String">
                <value>0.5</value>
            </setting>
        </BattleshipNeuralNet.NetSettings>
    </userSettings>
</configuration>